{:paths ["src"]

 :deps {io.github.casselc/http-client
        {:git/url "https://github.com/casselc/http-client.git"
         :git/sha "19d0d1b21ece1d0be3cdd166746cb0df772fbc0a"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "a9badb98a86d4e0aa207aa0609da03dc8e4c087f"}}

 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "otel.instrumentation.http-client-test-runner"]}}

 :tasks {test "jolt -M:test"}}
