{:paths ["src"]

 :jolt/min-version "0.8.0"

 :deps {io.github.casselc/http-client
        {:git/url "https://github.com/casselc/http-client.git"
         :git/sha "7cf4b2d56f8d10fef83594a543146f886e8180ad"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "ebcb0d1b36532155452d7a75842e232f7feeb548"}}

 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "otel.instrumentation.http-client-test-runner"]}}

 :tasks {test "jolt -M:test"}}
