{:paths ["src"]

 :deps {io.github.chucklehead-dev/jolt-otel-instrumentation-http-client
        {:local/root ".."}
        io.github.casselc/jolt-http
        {:git/url "https://github.com/casselc/jolt-http.git"
         :git/sha "9e75dd94b9ef3f5afe2096bf2370290d436443dd"}
        io.github.casselc/jolt-tcp
        {:git/url "https://github.com/casselc/jolt-tcp.git"
         :git/sha "647149c3f7dfdb0ec1f1d3657a79d888cd19fdae"}
        io.github.casselc/jolt-net
        {:git/url "https://github.com/casselc/jolt-net.git"
         :git/sha "1c2d237d8ea8540bd0779b9fbf403ca66683aea3"}}

 :jolt/build
 {:aspects
  [{:resource "META-INF/jolt/aspects/http-client-core.edn"
    :provider otel.instrumentation.http-client}]
  :aspect-report "target/http-client-aspects.edn"}}
